<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

  	<% include templates/header.ejs %>

    <h1><%= title %></h1>
     <p>Welcome to <%= title %></p>

     <p><%= videoData.categoryName %></p>
     <ul>
     	<% videoData.categories.forEach(function(category) { %>
     		<li><a href=<%= baseURL + category.categoryID %>><%= category.categoryName %></a></li>
     	<%	}); %>
  </body>
</html>
